<ion-navbar *navbar>
  <ion-title>Create a new Meme</ion-title>
</ion-navbar>

<ion-content padding class="create">
    
    <ion-list>

        <ion-item>
            <ion-label floating>Top Text</ion-label>
            <ion-input type="text" [(ngModel)]="newMeme.topText"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Bottom Text</ion-label>
            <ion-input type="text" [(ngModel)]="newMeme.bottomText"></ion-input>
        </ion-item>
        
        <ion-item>
            <button (click)="chooseGenerator()">
                <ion-icon name="image"></ion-icon>
                Choose Meme
            </button>
            <p *ngIf="!selectedGenerator">
                The selected picture will show up here
            </p>
        </ion-item>
		<ion-item *ngIf="selectedGenerator">
			<img [src]="selectedGenerator.imageUrl" alt="">
			<p>{{selectedGenerator.displayName}}</p>
		</ion-item>
    
    </ion-list>
    
    <button (click)="createMeme(newMeme)">
        <ion-icon name="checkmark"></ion-icon>
        Create Meme
    </button>
  
</ion-content>